body{
    margin: 0;
    padding: 0;
    background-image:url("./weather_img.jpg");
}

.container{
    background-color: #6d4699;
    border: 1px solid black;
    padding: 40px;
    width:300px;
    margin: 200px 500px;
    align-items: center;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:white;
    box-shadow: 5px 5px black;
}

input[type="text"]{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button{
    padding: 10px;
    background-color: #1a1a1a;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}
.hidden{
    display: none;
}